.closeFilter {
    transform: translateX(0px);
}

.openFilter {
    transform: translateX(-400px);
}

#filters {
    position: absolute;
    top: 0;
    right: -400px;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    background: #0578ac;
    width: 400px;
    transition: all 0.3s ease-in-out;
}