.closeFilter {
    transform: translateX(300px);
}

.openFilter {
    transform: translateX(0);
}

#filters {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    background: #0578ac;
    width: 300px;
    transition: all 0.3s ease-in-out;
}