.ctn{
  position: absolute;
  /* background-color: blue; */
  width: 20%;
  min-height: 100%;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
}
.ctnFixed {
  position: fixed;
  top:0;
}
.ctn label{
  color: #dadada;
  font-size: 80%;
}
a {
  text-decoration: none;
  color: black
}
