.inputfilter{
    width:100%;
}

.inputMinMax{
    width:40px;
}

#closeIcon{
    background-color: #dc3545;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    color: aliceblue;
}

label {
    color: var(--white);
}

.noFacilities{
    display: none;
}