.ctn {
  width: 95%;
  margin: 15px auto;
  background-color: var(--white);
  text-align: justify;
  padding: 15px;
  box-shadow: 2px 4px 6px 3px var(--blackShadow);
  display: flex;
  flex-wrap: wrap;
}
.divImg {
  width: 30%;
}
.img {
    width: 70%;
}
.divInfo {
  width: 50%;
  height: 100%;
  text-align: center;
  margin: auto 0;
}
