.logout {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10%;
    background-color: rgb(226, 21, 21);
    border-radius: 25px;
    padding: 1% 2%;
    transition: all .3s ease-in-out;
  }
  .logout:hover {
    transition: all .3s ease-in-out;
    background-color: var(--dark);
    box-shadow: 1px 1px 0px #bdbdbd;
  }